<header class="header">
  <div class="headline">
      <h2 style="letter-spacing: 12px;">você achou a melhor</h2>
      <h2 style="font-size:40px">Consulte CEPS de todo Brasil</h2>
      <p>Procurando um webservice gratuito e de alto desempenho para consultar Códigos de Endereçamento Postal (CEP) do Brasil?
        Utilize nosso serviço, melhore a qualidade de suas aplicações web e colabore para manter esta base de dados atualizada.
      </p>
      <a routerLink="/servicos" class="contact-btn">Consulte agora</a>
  </div>
  <div class="img-headline">
      <img style="max-width: 90%;" [src]="image">
  </div>
</header>
<section>
  <h2>Pesquisa CEP</h2>
  <div class="servicos">
    <p>
      Existem necessidades, por exemplo um cadastramento online onde o cliente desconhece o CEP da sua rua e será necessário realizar uma pesquisa para verificar a existência de um CEP que corresponda ao endereço. Para consultar um CEP na base de dados são necessários três parâmetros obrigatórios (UF, Cidade e Logradouro), sendo que para Cidade e Logradouro também é obrigatório um número mínimo de três caracteres a fim de evitar resultados extremamente abrangentes.
    </p>
  </div>
</section>
